
          <!-- left menu -->
          <div id="left_menu">
            <div id="left_menu_buttons_holder">

              <!-- filters -->
              <div>
                <ul id="left_menu_main_filters">
                  <li class="main_filter_btn" id="btn_filter_active">
                    <span class="item_icon">
                      <svg class="left_menu_btn" viewBox="0 0 512 512"><% include icons/activeTodos %></svg>
                    </span>
                    <span class="item_content">
                      Active
                      <small class="item_counter">7</small>
                    </span>
                  </li>

                  <li class="main_filter_btn" id="btn_filter_pending">
                    <span class="item_icon">
                      <svg class="left_menu_btn" viewBox="0 0 60 60"><% include icons/pendingTodos %></svg>
                    </span>
                    <span class="item_content">
                      Pending
                      <small class="item_counter">2</small>
                    </span>
                  </li>

                  <li class="main_filter_btn" id="btn_filter_complete">
                    <span class="item_icon">
                      <svg class="left_menu_btn" viewBox="0 0 60 60"><% include icons/completeTodos %></svg>
                    </span>
                    <span class="item_content">
                      Complete
                      <small class="item_counter">10</small>
                    </span>
                  </li>
                </ul>
              </div>

              <!-- sections -->
              <div>
                <ul id="left_menu_sections">
                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_projects">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 -1 401.52289 401" ><% include icons/checkBullet %></svg>
                      </span>
                      <span class="item_content">
                        Projects
                        <small class="item_counter">5</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_projects_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_categories">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 -1 401.52289 401" ><% include icons/checkBullet %></svg>
                      </span>
                      <span class="item_content">
                        Categories
                        <small class="item_counter">7</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_categories_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_toRemember">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 -1 401.52289 401" ><% include icons/checkBullet %></svg>
                      </span>
                      <span class="item_content">
                        To remember
                        <small class="item_counter">1</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_toRemeber_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_learnings">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 -1 401.52289 401" ><% include icons/checkBullet %></svg>
                      </span>
                      <span class="item_content">
                        Learnt
                        <small class="item_counter">3</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_learnings_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_lists">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 -1 401.52289 401" ><% include icons/checkBullet %></svg>
                      </span>
                      <span class="item_content">
                        Lists
                        <small class="item_counter">3</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_lists_plus">+</div>
                  </li>
                </ul>
              </div>

              <!-- custom lists -->
              <div>
                <ul id="left_menu_sections">
                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_games">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 0 59 59"><% include icons/listBullet %></svg>
                      </span>
                      <span class="item_content">
                        Games to play
                        <small class="item_counter">5</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_games_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_ideas">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 0 59 59"><% include icons/listBullet %></svg>
                      </span>
                      <span class="item_content">
                        Ideas
                        <small class="item_counter">7</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_ideas_plus">+</div>
                  </li>

                  <li class="menu_section_item">
                    <div class="section_item_left" id="btn_japanese">
                      <span class="item_icon">
                        <svg class="left_menu_btn_check" viewBox="0 0 59 59"><% include icons/listBullet %></svg>
                      </span>
                      <span class="item_content">
                        Japanese
                        <small class="item_counter">1</small>
                      </span>
                    </div>
                    <div class="section_item_right" id="btn_japanese_plus">+</div>
                  </li>

                </ul>
              </div>

            </div>
          </div>
