<% include partials/topMenu %>

    <!-- app -->
    <div id="app_holder">

          <% include partials/leftMenu %>

          <!-- content -->
          <div id="content">
            <div id="content_top_bar">
            </div>
          </div>
      </div>
    </div>

    <!-- hint box -->
    <div class="hintBox_frame"></div>

    <span id='variableJSON' hidden>
        <%= JSON.stringify(user); %>
    </span>

    <!-- resources -->
    <script src="/scripts/slip.js"></script>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/main.js"></script>



  </body>
</html>
