
<!-- App template -->
<!-- Includes the app's top bar element, the left menu, and hint box used for displaying hint
messages on top of certain icons, and container in which all the different pages will be inserted
using Javascript. -->


<!-- Top bar -->
<% include partials/topMenu %>

    <div id="app_holder">

          <!-- Left menu  -->
          <% include partials/leftMenu %>

          <!-- Page holder -->
          <main>
            <div id="content">
              <div id="content_top_bar"></div>
              <div id="editor"></div>
            </div>
          </main>
      </div>
    </div>

    <!-- hint box -->
    <div class="hintBox_frame"></div>

    <span id='variableJSON' hidden>
        <%= JSON.stringify(user); %>
    </span>

    <!-- resources -->
    <script src="/scripts/slip.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/main.js"></script>

  </body>
</html>
