<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>todoNext</title>

    <!-- Responsive design -->
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0">

    <!-- Resources -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400" rel="stylesheet">
    <link href="/styles/users.css" rel="stylesheet" type="text/css"/>

  </head>

  <body>

    <div class="container" id="container_register">

      <div id="logo"><img src="/assets/logo_todoNext_large.png"></div>
      <div class="subtitle"><span>A simple todo list app on steroids</span></div>

      <form class="inputForm" action="/users/register" method="post">

        <div class="inputRow">
          <input type="text" autocomplete="off" maxlength="25" class="textBox" placeholder="Name" name="name" value="<%= name %>">
          <img class="inputIcon" src="/assets/users_a.svg">
        </div>

        <div class="inputRow">
          <input type="text" autocomplete="off" maxlength="25" class="textBox" placeholder="Username" name="username" value="<%= username %>">
          <img class="inputIcon" src="/assets/users_user.svg">
        </div>

        <div class="inputRow">
          <input type="email" maxlength="30" class="textBox" placeholder="Email" name="email" value="<%= email %>">
          <img class="inputIcon" src="/assets/users_mail.svg">
        </div>

        <div class="inputRow">
          <input type="password" maxlength="25" class="textBox" placeholder="Password" name="password">
          <img class="inputIcon" src="/assets/users_padock.svg">
        </div>

        <div class="inputRow lastFormRow">
          <input type="password" maxlength="25" class="textBox" placeholder="Repeat password" name="password2">
          <img class="inputIcon" src="/assets/users_padock.svg">
        </div>

        <% if(errors.length > 0){ %>
          <div class="errorContainer">
            <% for(var i=0; i < errors.length; i++) { %>
              <div class="errorMsg"><%= errors[i].msg %></div>
            <% } %>
          </div>
        <% } %>

        <button type="submit" name="button">Register</button>

        <div class="linkContainer">
          <a class="lowerLink" href="/users/login">Login</a>
        </div>

      </form>

    </div>

    <!-- <script src="/main.js"></script> -->

  </body>
</html>
