
/* ----------------- color theme ----------------- */
:root{
  --top-bar-color: #263e65;
  --top-bar-btn-hover: #3b547d;
  --bg-color: #efefef;
  --bg-color-white: #fff;
  --app-grey-lines: #dddddd;
  --btn-black-text: #333;
  --btn-red-highlight: #dd4b39;
  --txt-blue-highlight: #1551b5; /*274d8d*/
  --btn-blue-highlight_bg:#f2f1f1;
  --hint-dark-grey:#323232;
  --alert-red:#af4148;
}


/* ----------------- body and general ----------------- */
div{
  display: block;
}

html {
    overflow-y: scroll;
}


body{
    margin: auto;
    margin-left: 0;
    font-size: 13px;
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding: 0px !important;
    margin-bottom: 0 !important;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #263e65; /* Blue */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 0.5s linear infinite;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}


/* ----------------- top bar -----------------*/
#top_bar{
    height: 43px;
    top: 0;
    position: fixed;
    z-index: 9000;
    width: 100%;
    border-bottom: solid 1px #243654;
    background-color: var(--top-bar-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}


#top_bar_inner{
  max-width: 950px;
  height: 100%;
  margin: auto;
}

#top_bar_spIcon{
  display: none;
  padding: 5px 0;
  padding-right: 5px;
}

#top_bar_logo{
  float:left;
  margin-left: 30px;
  padding-top: 15px;
  cursor: pointer;
}


#top_bar_rightBtns{
  float: right;
  padding-right: 12px;
  white-space: nowrap !important;
  padding-top: 8px;
}

.top_bar_btn_container{
  float:left;
  margin-left: 12px;
  height: 29px;
  width: 33px;
  border-radius: 4px;
}

.top_bar_btn_container:hover{
  background-color: var(--top-bar-btn-hover);
}

.top_bar_btn{
  padding-top: 3px;
  padding-left: 5px;
  height: 23px;
  width: 23px;
  cursor: pointer;
}

#top_bar_center{
  white-space: nowrap;
  margin-left: 328px;
  padding-top: 19px;
  color: white;
  font-weight: 200;
}


@media screen and (max-width: 950px){
  #top_bar_logo {display: none;}
  #top_bar_center{display: none;}
  #top_bar_spIcon{
    display: block;
    float: left;
  }
  #top_bar{
      height: 43px;
  }
  #top_bar_rightBtns{
    padding-top: 5px;
  }
  .top_bar_btn_container{
    height: 33px;
    padding-top: 3px;
  }
  .hideWhenMobile{
    display: none;
  }

}

#app_holder{
  margin: auto;
  max-width: 950px;
}

/* -----------------left menu -----------------*/
#left_menu{
  user-select: none !important;
  float: left;
  width: 265px;
  padding-left: 30px;
  padding-top: 60px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: 1px solid var(--app-grey-lines);
  height: 100%;
  background-color: var(--bg-color);
  transition: 0.5s;
  z-index: 150;
  -webkit-tap-highlight-color: transparent;
}

/*----------------- left menu in mobile mode -----------------*/
.show_left_menu{
  left: 0 !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

#left_menu_buttons_holder{
  width: 265px;
  padding-bottom: 30px;
}

#left_menu_main_filters{
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--app-grey-lines);
}

.main_filter_btn{
  min-height: 22px;
  font-size: 14px;
  color: var(--btn-black-text);
  list-style: none;
  cursor: pointer;
  padding: 10px 16px 10px 5px;
  border-radius: 3px;
  transition: 0.5s;

}

.main_filter_btn:hover{
  background-color: var(--bg-color-white);
}

.left_menu_btn{
  height: 25px;
  width: 25px;
  margin-right: 10px;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
}

#left_menu_sections{
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--app-grey-lines);
}

.menu_section_item{
  min-height: 40px;
  font-size: 14px;
  color: var(--btn-black-text);
  list-style: none;
  cursor: pointer;
  padding: 0px 0px 0px 1px;
  width: 255px;
  margin-top: 7px;
}

.section_item_left{
  height: 20px;
  float: left;
  width: 204px;
  transition: 0.5s;
  padding-bottom: 12px;
  padding-top: 8px;
  padding-left: 6px;
  border-radius: 3px;
}

.section_item_left:hover{
  background-color: var(--bg-color-white)
}

.left_menu_btn_check{
  height: 17px;
  width: 17px;
  margin-right: 14px;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  padding-left: 2px;
}

.section_item_right{
  float: right;
  width: 40px;
  transition: 0.5s;
  height: 20px;
  padding-bottom: 15px;
  padding-top: 6px;
  font-size: 17px;
  text-align: center;
  border-radius: 3px;
}

.section_item_right:hover{
  background-color: var(--bg-color-white);
  color: var(--top-bar-color);
}


/* ---------------Standard (std) styles -----------*/

.stdListContainer{
  padding-inline-start: 10px !important;
  padding-right: 10px;
  outline: none;
}

.stdListItem{
  list-style: none;
  outline: none;
  /* padding-right: 10px;  UNDER TESTING*/
  transition: margin 500ms;
  border-bottom: 1px solid var(--app-grey-lines);
}

.stdListItemContainer{
  page-break-inside: avoid;
  font-size: 14px;
  position: relative;
  border-radius: 6px 6px 2px 0px;
  padding-left: 7px;
  width: 100%;
  padding-bottom: 6px;
  padding-top: 20px;
}

.std_DragBtn{
  height: 16px;
  width: 16px;
  margin-left: -30px;
  opacity: 0;
  -webkit-user-drag: none;
  cursor: n-resize;
}

.std_DragBtn:hover{
  opacity: 0.3;
}

.std_catColorSquare{
  height: 12px;
  width: 12px;
  border-radius: 6px;
  opacity: 0.6;
}

.std_listItem_itemName{
  max-width: 500px;
  overflow: hidden;
  width: 100%;
  padding-left: 7px;
}

.std_listItem_greyInfo{
  color: var(--txt-blue-highlight);
  font-size: 11px;
}

.std_menuIcon{
  height: 17px;
  width: 17px;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-drag: none;
  padding-bottom: 3px;
}

.std_listItem_MenuCol{
  height: 100%;
  max-width: 17px;
  padding-left: 10px;
  padding-right: 15px;
  cursor: pointer;
  opacity: 0;
  -webkit-tap-highlight-color: transparent;
}

.std_listItem_MenuCol:hover{
  opacity: 1;
}

.std_listItem_tag{
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  float: left;
  margin-right: 4px;
  font-size: 10px;
}

.std_listItem_progressBar{
  background-color: #dddddd;
  min-height: 3px;
  border-radius: 3px 3px 0px 0px;
}

/* -----------------boolean Btn----------------- */

.booleanBtn_holder{
  outline: none;
  border-radius: 10px;
  border: 1px solid #f5f3f3;
  font-size: 14px;
  padding: 5px 8px 0px 8px;
  color: var(--app-grey-lines);
  font-weight: 200;
  cursor: pointer;
  background-color: white;
}

.booleanBtn_iconHolder{
  min-width: 20px;
  min-height: 20px;
  padding: 0px 4px 0px 4px;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
}

.booleanBtn_label{
  text-align: center;
  padding-bottom
}

.booleanBtn_active{
  color: #1551b5;
  font-weight: 400;
  border: 1px solid #88aff1 !important;
}

.booleanBtn_hover{
    border: 1px solid #c2c2c2;
}

/* -------------Mobile list item----------------- */


@media screen and (max-width: 950px){
  .stdListContainer{
    padding-right: 0px;
    margin-left: -7px;
  }
  .stdListItemContainer{
    padding-left: 0px;
  }
  .std_DragBtn{
    opacity: 0.3;
    margin-left: 2px;
    width: 20px;
  }
  .std_listItem_MenuCol{
    opacity: 1;
  }
}

/* -----------------content----------------- */

#content{
  background-color: var(--bg-color-white);
  padding: 0 20px;
  padding-left: 34px;
  margin-left: 284px;
  border-right: 1px solid var(--app-grey-lines);
  border-bottom: 1px solid var(--app-grey-lines);
  transition: 0.5s;
  min-height: 1200px;
}

#content_top_bar{
  margin-top: 44px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 3px;
  background-color: white;
  z-index: 8000;
  position: fixed;
  width: 100%;
  max-width: 605px;
  border-bottom: 1px solid var(--btn-blue-highlight_bg);
}

.topBar_btnContainer{
  float: right;
}

.btn_filter_bar{
  padding: 5px 10px 10px 10px;
  height: 14px;
  border-radius:4px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  float: right;
}

.btn_filter_bar:hover{
  background-color: var(--btn-blue-highlight_bg);
  color: var(--txt-blue-highlight);
}


/* ----------------- grey out content divd when left menu displayed in mobile mode */
.grey_content{
  pointer-events: none;
  opacity: 0.3;
  position: fixed;
}

/* -----------------main list styles -----------------*/

#editor{
  width: 100%;
  padding-top: 36px !important;
  padding-right: 15px;
  padding-bottom: 85px !important;
}

.list_header{
  font-size: 15px;
  color: var(--txt-blue-highlight);
  margin-top: 95px;
  font-weight: 600;
  list-style: none;
  outline: none;
  z-index: 10;
  position: sticky;
  margin-bottom: 5px;
  transition: margin 500ms;
}

.view_top_title{
  font-size: 15px;
  color: var(--txt-blue-highlight);
  margin-top: 80px;
  margin-left: 9px;
  margin-bottom: 5px;
  font-weight: 600;
  list-style: none;
  outline: none;
  z-index: 10;
  position: sticky;
  transition: margin 500ms;
}

.task_label_container{
  margin-top: 4px;
  margin-left: -7px;
}

.activeTask_deadlineCol{
  text-align: right;
  padding-left: 7px;
  padding-right: 10px;
  min-width: 50px;
}

.activeTask_arrow_container{
  padding-right: 5px;
  padding-left: 6px;
  -webkit-user-drag: none;
}

.hour_icon_container{
  -webkit-user-drag: none;
  padding-left: 5px;
  padding-right: 2px;
  min-width: 40px;
  text-align: right;
  font-size: 11px;
  padding-top: 3px;
}


@media screen and (max-width: 950px){
  #content{
    margin-left: 0px;
    padding-left: 7px;
    padding-right: /*15px UNDER TESTING; */
    width: auto !important;
    border-radius: 0px;
    /* padding-right:  7px; UNDER TESTING*/
  }
  #left_menu{
    left:-320px;
  }
  #content_top_bar{
    margin-top: 38px;
    margin-left: -19px;
  }
  #content_top_bar{
    max-width: none;
  }
  #filter_container{
    margin-right: 30px;
  }
  .hour_icon_container{
    padding-left: 10px;
    padding-right: 0px;
    min-width: 20px;
  }
  .activeTask_deadlineCol{
    padding-left: 5px;
    padding-right: 2px;
  }
  .std_listItem_tag{
      margin-bottom: 2px;
      margin-right: 2px;
      font-weight: normal;
  }.list_header{
    margin-left: 7px;
  }
}



/* ----------------- Context Menu ----------------- */

.listItem_menuHighlight{
  background-color: #f7f9fc !important;
}

/* ---------------------- Form styles -------------------------- */

.form_container {
    background-color: #fefefe;
    margin: 55px auto;
    padding: 25px 20px 20px;
    padding-right: 36px;
    border: 1px solid var(--app-grey-lines);
    width: 560px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
    border-collapse: separate;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
}

.form_headerTable{
    width: 100%;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    display: table;
}

.form_iconCol{
  padding-left: 30px;
}

.form_icon{
  width: 18px;
  height: 18px;
  padding-top: 3px;
}

.form_titleCol{
  font-size: 15px;
  color: var(--txt-blue-highlight);
  font-weight: bold;
  min-width: 100px;
  width: 100%;
  padding-left: 9px;
}

.form_closeBtnIcon{
  width: 13px;
  height: 13px;
  cursor: pointer;
  padding: 5px;
}

.form_bodyContainer{
  width: auto;
  margin-top: 7px;
  padding-left: 15px;
}

.form_bodyIframe{
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;
}

.form_textInputField{
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--app-grey-lines);
  font-size: 14px;
  padding: 6px;
  min-height: 21px;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  padding-left: 12px;
}

.ddm_Container{
  z-index: 11000;
  position: absolute;
  top: 153px;
  left: 249px;
  width: 460px;
  display: none;
  overflow: auto;
  padding: 0;
  overflow-x: hidden;
  color: var(--btn-black-text);
  font-size: 13px;
  text-align: left;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.ddm_frame{
  max-height: 46vh;
  overflow-y: auto;
  width: 100%;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}

.ddm_frame::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.ddm_table{
  table-layout: fixed;
  width: 100% !important;
  margin: 0;
  border-collapse: collapse;
}

.ddm_menu_rowColumn{
  cursor: pointer;
  border-bottom: 1px solid #f7f7f7;
  white-space: nowrap;
}

.ddm_menu_rowLeftCol{
  padding-left: 7px;
  margin-right: 12px;
  min-height: 30px;
  min-width: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ddm_colorCircle{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  opacity: 0.45;
}

.ddm_menu_rowRightCol{
  overflow: hidden;
  padding-top: 1px;
  text-overflow: ellipsis;
  min-height: 30px;
  display: flex;
  align-items: center;
}

/* ----------------- Context Menu Styles ----------------- */

.contextMenu_floater{
  z-index: 7000;
  position: absolute;
  width: 180px;
  overflow: auto;
  padding: 0;
  overflow-x: hidden;
  color: var(--btn-black-text);
  font-size: 13px;
  text-align: left;
  background-color: white !important;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.contextMenu_innerHolder{
  max-height: 46vh;
  overflow-y: auto;
  width: 100%;
}

.contextMenu_table{
  table-layout: fixed;
  width: 100% !important;
  margin: 0;
  border-collapse: collapse;
}

/* ------------------ Recycleable styles -------------------------- */

.greyHightlight_active{
  background-color: #eee;
}




/* ----------------- Modal popup common styles ----------------- */

.modal_blackBackground{
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
}

.transparent_background{
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0);
}

.modal_centered {
    background-color: #fefefe;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: auto;
    padding: 25px 30px;
    border: 1px solid var(--app-grey-lines);
    width: 560px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
    border-collapse: separate;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
}

.modal_title_row{
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: var(--txt-blue-highlight);
  font-weight: bold;
}

.modal_title_text{
  padding-left: 24px;
}

.modal_subtitle_row{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #4c4c4c;
  font-weight: bold;
  margin-top: 6px;
}

.modal_close_btn_container{
  float: right;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.modal_close_icon{
    width: 18px;
}

.modal_content_row{
  width: 100%;
  margin-top: 35px;
  margin-bottom: 30px;
}


#modal_btns_row{
  margin-top: 9px;
  height: 30px;
  margin-bottom: 6px;
}


.blue_botton_little{
  background-color: var(--top-bar-color);
  color: white;
  text-shadow: none;
  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  padding: 3px 9px 4px 9px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
}

.btnDisabled{
  background-color: #c6c6c6;
  cursor: default;
}

/* ----------------- Add Progress modal ----------------- */

#progress_table{
  border: none;
  cellspacing: 0;
  cellpadding: 0;
}

.progress_modal_progress_cell{
  height: 20px;
  cursor: pointer;
  background-color: #c6c6c6;
}
.progress_modal_progress_label{
  text-align: center;
  color: #c6c6c6;
}

/* ----------------- Add Notes modal ----------------- */

.modal_notes{
  width: 390px;
  border-radius: 10px;
}

.notes_textBox{
  border: 1px solid var(--app-grey-lines);
  min-height: 100px;
  border-radius: 4px;
  padding: 6px;
  font-size: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: -20px;
  /* Important so jquery can retrieve the linebreaks from the contenteditable */
  white-space: pre-wrap;
}

.notes_textBox:focus{
  outline: none;
}

/* ----------------- Add Score modal ----------------- */

.modal_score{
  width: 390px;
  border-radius: 10px;
}

.score_stars{
  width: 42px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* ----------------- Add Task modal ----------------- */

#modal_addTask_content {
    background-color: #fefefe;
    margin: 55px auto;
    padding: 25px 20px;
    padding-right: 36px;
    border: 1px solid var(--app-grey-lines);
    width: 560px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
    border-collapse: separate;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
}

.floating_msgBox{
  text-align:center;
  width: 100%;
  position: fixed;
  z-index: 400000;
}

.inner_msgBox{
  background-color: var(--top-bar-color);
  color: white;
  padding: 3px 20px;
  border-radius: 15px;
  text-align: center;
  display:inline-block;
  margin:0px auto;
  opacity: 0.97;
  max-width: 300px;
  white-space: pre-line;
}

.msg_highlight{
  color: #eac233;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
}

.inner_msgBox_error{
  background-color: var(--alert-red);
  color: white;
  padding: 3px 20px;
  border-radius: 15px;
  text-align: center;
  display:inline-block;
  margin:0px auto;
  opacity: 0.97;
  max-width: 300px;
  white-space: pre-line;
}

/* -----------------Add task modal header -----------------*/


.modal_addTask_header_table_radioClm{
    padding-left: 15px;
    min-width: 100px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio_label{
color: black;
display: inline-block;
cursor: pointer;
padding: 1px 5px;
background-color: var(--btn-blue-highlight_bg);
border-radius: 3px;
margin-right: 6px;
font-size: 13px;
}

input[type=radio]:checked + .radio_label{
  background-color: var(--top-bar-color);
  color:white;
}

.modal_addTask_header_table_captionClm{
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    padding-right: 20px;
    padding-left: 13px;
    font-weight: bold;
    height: 20px;
    padding-top: 0 !important;
    padding-bottom: 0;
    width: 100%;
}

/* ----------------- addtask modal task name row -----------------*/

.modal_addTask_body_taskNameRow_table{
  width: 100%;
  border: 1px solid var(--app-grey-lines);
  border-radius: 3px;
}

.modal_addTask_body_textBox_col{
    width: 100%;
    cursor: text;
    padding: 6px !important;
    border-right: 1px solid var(--app-grey-lines);
    vertical-align: top;
}
.modal_addTask_body_textBox{
  outline: none;
  font-size: 14px;
  padding: 0 !important;
  min-height: 21px;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.modal_addTask_body_dueDate_col{
  cursor: text;
  width: 95px;
  vertical-align: top;
}

.modal_addTask_body_dueDate{
  outline: 0;
  border: 0;
  resize:none;
  width: 75px;
  padding-top: 5px;
  min-height: 21px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

/* TODO: delete this one. Ojo: used as a identifier. */
.addTask_tableOption_active{
  background-color: #eee;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

.recognized_dueDate{
  color: var(--txt-blue-highlight);
  font-weight: bold;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color:grey;
}


/* ----------------- addtask modal button row ----------------- */

.modal_addTask_body_buttonsRow_table{
  width: 100%;
  margin-left: -4px;
  margin-right: -5px;
}

.modal_addTask_body_submit_col{
    vertical-align: top;
    padding-top: 14px;
    align: left;
}

.blue_botton{
  background-color: var(--top-bar-color);
  color: white;
  text-shadow: none;
  font-weight: bold;
  font-size: 13px !important;
  line-height: 17px;
  padding: 6px 12px 7px 12px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
}

.modal_addTask_body_icons_col{
  width: 100%;
  align: right;
  padding-top: 20px;
}

.modal_addTask_body_icons_iconHolder{
  border-spacing: 2px;
  text-align: left;
}

.modal_addTask_menuIcon{
  height: 29px;
  width: 33px;
  border-radius: 3px;
  margin-left: 12px;
  float: right;
  cursor: pointer;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
}

.modal_addTask_menuIcon:hover{
  background-color: var(--btn-blue-highlight_bg);
}

.modal_icon{
  height: 22px;
  width: 22px;
  display: inline-block;
  overflow: hidden;
  padding: 3px 3px;
  padding-left: 5px;
}

.modal_addTask_menuSelector{
  padding-top: 1px;
  float: right;
  cursor: text;
  border-radius: 3px;
  margin-right: -3px;
}

.modal_addTask_menuSelector:hover{
  background-color: var(--btn-blue-highlight_bg);
}

.modal_selector{
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.hourSelector{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #c6c6c6;
  font-size: 18px;
}


/* ----------------- hintbox -----------------*/

 /* TODO: remove when fixing help_info */
.hintBox_frame{
  top: 300px;
  left: 300px;
  display: none;
  text-align: left;
  position:fixed;
  color: white;
  line-height: 1.4;
  font-size: 12px;
  font-weight: 100px;
  z-index: 120000;
  border-collapse: collapse;
  transform: translateY(10px);
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
}

.hintBoxContent{
  border-radius: 4px;
  max-width: 220px;
  background-color: var(--hint-dark-grey);
  padding: 8px 14px;
}

.hint_frame{
  text-align: left;
  position:fixed;
  color: white;
  line-height: 1.4;
  font-size: 12px;
  font-weight: 100px;
  z-index: 120000;
  border-collapse: collapse;
  transform: translateY(10px);
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
}


/* ----------------- Selected text highlight color -----------------*/

::selection {
  background: var(--btn-blue-highlight_bg); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--btn-blue-highlight_bg); /* Gecko Browsers */
}


/* ----------------- addTask option tables -----------------*/

.svgDefaultStyle{
  height: 15px;
  width: 15px;
}

.addTask_tableOption_proIcon{
  height: 10px;
  width: 10px;
  border-radius: 3px;
  opacity: 0.45;
}

.modal_addTask_tagBody{
  color: white;
  font-weight: 300;
  padding-left: 8px;
  max-width: 170px;
  align-items: center;
  float: left;
  border-radius: 5px 0px 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 1;
}

.modal_addTask_tagButton{
  align-items: center;
  float: left;
  border-radius: 0px 5px 5px 0px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  opacity: 1;
  margin-right: 5px;
}

.modal_addTask_tagIcon{
  width: 8px;
  height: 8px;
}

.invisible{
  color: white;
}

/* -----------------Mobile format for add task modal -----------------*/

@media screen and (max-width: 950px){
  .form_container{
    margin-top: 0px;
    width: 100%! important;
    border-radius: 0px;
    padding: 25px 0px 25px 0px;
  }
  .form_headerContainer{
    margin-right: 13px;
  }
  .form_bodyContainer{
    margin-right: 13px;
  }

  .modal_addTask_tag{
    display: inline-block;
  }
  .modal_addTask_caption_cat{
    height: 22px;
  }
  .modal_addTask_tagBody{
    max-width: 130px;
  }
  .modal_score{
    width: 85%! important;
    border-radius: 0px;
    margin-left: -5px;
    /* to compensate a strange margin in the mobile version */
  }
  .modal_notes{
    width: 85%! important;
    border-radius: 0px;
    margin-left: -5px;
    top: 0%;
    transform: translateY(0%);
    /* to compensate a strange margin in the mobile version */
  }
  .modal_centered{
    padding-right: 36px;
  }
  .notes_textBox{
    min-height: 60px;
  }
}



/* ----------------- global animations -----------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Filter page > filter tags */

.filter-tag-row{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 11px;
  font-style: italic;
  max-width: 400px;
}

.filter-tag__label{
  padding-right: 8px;
  padding-left: 16px;
  padding-top: 2px;
}

.filter-tag__tag-container{
  display: flex;
  margin-top: 8px;
}

.filter-tag__tag{
  background-color: var(--bg-color);
  color: #696969;
  border-radius: 3px;
  padding: 1px 8px;
  white-space: nowrap;
}

.filter-tag-row__wrapper{
  padding-right: 9px;
  display: flex;
  justify-content: flex-end;
}


/* Quick stats */

.quick-stats__stat-label--new-record::after{
  content: "new record";
  color: var(--txt-blue-highlight);
  font-size: 9px;
  padding-left: 10px;
  vertical-align: top;
}

.quick-stats__record-value--record-label::after{
  content: "best";
  position: absolute;
  transform: translate(-16px, -22px);
  font-size: 10px;
  text-align: center;
  font-style: italic;
  width: 30px;
  color: #305499;
}


/* Flash message */

@-webkit-keyframes flashAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  50%, 60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes flashAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  50%, 60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.flashAnimation {
  -webkit-animation-name: flashAnimation;
  animation-name: flashAnimation;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.flash-msg__wrapper{
  position: absolute;
  z-index: 7000;
}

.flash-msg__inner{
  color: white;
  padding: 1.5px 4px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.97;
  display: inline-block;
  white-space: pre-line;
  font-size: 11px;
}

.flash-msg__inner--alert{
  background-color: var(--alert-red);
}

.flash-msg__inner--plain{
  background-color: var(--top-bar-color);
}


/* Btn */

.primary-btn{
  background-color: var(--top-bar-color);
  color: white;
  text-shadow: none;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 3px !important;
  text-decoration: none !important;
  text-align: center;
  cursor: pointer;
}

.primary-btn--disabled{
  color: black;
  background-color: var(--btn-blue-highlight_bg);
}

.primary-btn--small-size{
  font-size: 10px;
  padding: 2px 10px;
}
